# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Capacitor
/www

# Android
.gradle
build/
android/app/build
android/.gradle
android/local.properties
android/captures
android/app/google-services.json
android/app/src/main/assets/public
android/app/src/main/res/raw
!gradle/wrapper/gradle-wrapper.jar
*.apk
*.jks
.externalNativeBuild
.cxx
*/*.iml
*.ipr
*.iws
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.baseDir
captures/
